/* App Styles */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  /* background-color: rgba(213, 213, 213, 1); */
  background-color: #ffffff;
  overflow: hidden;
}
