/* Header Styles */

.headerComponent {
  border: 1px solid rebeccapurple;
  height: 48px;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Extra Small (Phones) */
@media (max-width: 480px) {
  .headerComponent {
    background-color: rebeccapurple;
  }
}

/* Small (Tablets in Portrait Mode) */
@media (min-width: 481px) and (max-width: 768px) {
  .headerComponent {
    background-color: orange;
  }
}

/* Medium (Tablets in Landscape Mode) */
@media (min-width: 769px) and (max-width: 1024px) {
  .headerComponent {
    background-color: red;
  }
}

/* Large (Desktop) */
/* @media (min-width: 1025px) {
  .headerComponent {
    background-color: gray;
  } */
  